.appBar{
    background-color: transparent !important;
    backdrop-filter: blur(20px) saturate(140%) brightness(70%) !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 500;
    .logo{
        height: 50px;
        border-radius: 5px;
    }
    .menuItem{
        margin-right: 10px;
        font-size: 17px;
    }
    .menuItem:hover{
        background-color:#2349bbc7 !important ;
    }
    .main-menu-link{
        text-decoration: none !important;
        color: #ffffff;
    }
    #link{
        font-size: xx-large !important;
        text-decoration: none !important;

    }
}